# Ignore videos and heavy files
*.mp4
*.mov
*.avi
*.zip
*.7z

# Browser-saved pages
*.mhtml
*.html
*_files/

# SQLite temp junk
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# OS generated
Thumbs.db
.DS_Store
